@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010a13;
  --foreground: #a09b8c;
  --gold1: #F0E6D2;
  --gold4: #C89B3C;
  --blue1: #CDFAFA;
  --blue3: #0397AB;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
